body {
  background-color: #366;
  color: #cff;
  text-align: center;
  font-family:
    "Commodore 64 Angled", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#main {
  background-color: #ffffff10;
  padding: 4px;
  border-radius: 4px;
  margin: 40px;
  border-top: #cff 8px solid;
}

#modContainer {
  display: inline-block;
  background-color: #122;
  padding: 4px 6px;
  border-radius: 4px;
  width: 150px;
  text-align: left;
  overflow: hidden;
}

#modController {
  display: block;
  font-size: 20px;
}

button {
  background-color: #cff;
  color: #122;
  border: none;
  border-radius: 4px;
}

button:active {
  background-color: #122;
  color: #cff;
}

button:hover {
  box-shadow: #cff 0px 0px 2px;
}

#modLeft,
#modRight,
#modAdd,
#modRem {
  width: 40px;
}
